<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.insight">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application>
        <provider
            android:name=".InsightContentProvider"
            android:authorities="${applicationId}.org.insight"
            android:exported="false" />

        <activity
            android:name=".InsightScanRegisterActivity"
            android:exported="true" />
    </application>
</manifest>